registry=http://54.86.148.188:8081/repository/npm-private/:YWRtaW46YWRtaW4xNDg=
email=admin@example.org
npm login --registry=http://54.86.148.188:8081/repository/npm-group/ --always-auth
allowRepublish=true
