registry=http://54.86.148.188:8081/repository/npm-private/
email=admin@example.org
_auth="YWRtaW46YWRtaW4xNDg="
npm login --registry=http://54.86.148.188:8081/repository/npm-group/ --always-auth
allowRepublish=true
